<html>
    <body>
        <table>
            <tr>
                <td>ID</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>1</td>
                <td>NodeJs Book</td>
            </tr>
        </table>
    </body>
</html>